{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer un cours
{% endblock %}

{% block body %}
    <h1>Créer un cours</h1>
    {{ form_start(courseForm) }}
    {{ form_widget(courseForm) }}
    <button type="submit" class="uk-button uk-button-primary uk-width uk-margin uk-border-rounded">Enregistrer</button>
    {{ form_end(courseForm) }}
{% endblock %}

