<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Demo{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/icon.png') }}">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}

    {% endblock %}
</head>
<body>
<header>
    {% include '_navbar.html.twig' %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <div class="container">ENI</div>
</footer>
</body>

</html>
